*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

:root {
  --main-border-radius: 10px;
  --label-padding-bottom: 10px;
  --label-padding-top: 20px;
  --font-size: 14px;
  --line-height: 1.2;
  --preview-width: 340px;
  --preview-width-border: 1px;
  --preview-padding: calc(
    var(--label-padding-top)
    + var(--label-padding-bottom)
    + var(--font-size)
    * var(--line-height)
  );
  --preview-aspect-ratio: 0.8;
  --preview-wrapper-padding: 20px;
  --rendered-preview-width: calc(
    (--preview-width) 
     - (var(--preview-wrapper-padding) 
    * 2)
  );
}

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: colors.$app-background;
  font-family: 'Chakra Petch', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.2em;
}

button {
  border: none;
  padding: 0;
}

.scroll-off {
  overflow: hidden;
}
