@mixin preloader-animation {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.75, -0.01, 0.59, 0.99);
}
