$light: #FFFFFF;
$dark: #000000;
$main: #F7F7EB;
$secondary: #C0C2AC;
$secondary-darker: #3D401C;
$main-active: #CAD629;
$secondary-active: #DDE3a4;
$warning: #E3928D;
$preview-main: #F2F1F1;
$preview-accent-text: #D8222E;

$app-background: $light;
$active-button-background: $main-active;
$active-button-hover: $secondary-active;
$active-button-active: $secondary;
$info: $secondary-active;
