$main: #F7F7EB;
$secondary: #C0C2AC;
$secondary-darker: #3D401C;
$secondary-light: #FFFFFF;
$app-shadow: rgba(0, 0, 0, 0.5);
$main-active: #cad629;
$secondary-active: #dde3a4;
$warning: #FA8E6C;
$preview-main: #F2F1F1;
$secondary-background: #F7F7EB;
$preview-accent-text: #D8222E;

$logo: $secondary-darker;
$app-background: $secondary-light;
$main-background: $main;
$el-shadow: $secondary;
$border: $secondary;
$button-text: $secondary;

$preview-code-background: $preview-main;
$preview-code: $preview-accent-text;
$markdown-background: $secondary-background;

$active-button-background: $main-active;
$active-button-text: $secondary-light;
$active-button-hover: $secondary-active;
$active-button-active: $secondary;
$info: $secondary-active;
