@mixin light-shadow {
  box-shadow: 4px 4px 0 colors.$el-shadow;
} 

@mixin radial-shadow {
  box-shadow: 0 0 10px colors.$secondary-darker;
}

@mixin solid-border {
  border: 1px solid colors.$border;
}
