@mixin light-shadow {
  box-shadow: 4px 4px 0 colors.$el-shadow;
} 

@mixin radial-shadow {
  box-shadow: 0 0 10px colors.$secondary-darker;
}

@mixin solid-border {
  border: 1px solid colors.$border;
}

@mixin inactive-button {
  color: colors.$secondary-darker;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  box-shadow: none;
  text-decoration: none;
  cursor: default;
}

@mixin active-button-like {

}

@mixin active-link-like {

}
