@use './colors';
@use './breakpoints';

.rendered-preview {
  width: calc(var(--preview-width) - (var(--preview-wrapper-padding) * 2));
  aspect-ratio: var(--preview-aspect-ratio);
  margin: 0;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.15;
    font-weight: normal;
    letter-spacing: 1px;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 3em;
  }
  h4 {
    font-size: 2.5em;
  }
  h5 {
    font-size: 2em;
  }
  h6 {
    font-size: 1.5em;
  }
  ol,
  ul {
    padding-left: 30px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    li {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
    }
  }
  blockquote {
    padding: 10px;
    margin-inline: 15px;
    color: colors.$secondary-darker;
    border-left: 5px solid colors.$secondary;
  }
  code {
    display: block;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: colors.$preview-code;
    background-color: colors.$preview-code-background;
    letter-spacing: 0.5px;
    border-radius: 5px;
  }
  .align {
    display: block;
    &.align-center {
      text-align: center;
    }
    &.align-left {
      text-align: left;
    }
    &.align-right {
      text-align: right;
    }
  }
}
